https://github.com/Hierosoft/hierosoft/archive/refs/heads/main.zip
https://github.com/Hierosoft/pycodetool/archive/refs/heads/master.zip
https://github.com/Hierosoft/pyinkscape/archive/refs/heads/editing.zip
